.logo {
  height: 6rem !important;
}

* {
  font-family: "Poppins", sans-serif;
}

.list-group-item + .list-group-item {
  border-top-width: 1px;
}

body {
  background-color: #f4f4f4;
}

.header-logo {
  height: 20rem;
  margin-top: 4rem;
  border: 0.1rem solid black;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  object-fit: contain;
}

.generate-btn {
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  color: white;
  font-weight: 600;
  border: 0.1rem solid black;
}

.films-btn {
  background-color: #bdd0c4;
}

.people-btn {
  background-color: #9ab7d3;
}

.generate-btn:hover {
  color: rgb(236, 236, 236);
  transition: 0.3s ease-in-out;
  padding: 1.4rem 3.7rem;
}

.homepage-card {
  width: 40rem;
  margin-top: 5rem;
  border: 0.1rem solid black;
  text-align: center;
  padding: 2rem;
}

.highlight {
  color: #9ab7d3;
  font-weight: 500;
}

.contact-info {
  font-weight: 500;
}

.stat-highlight {
  font-weight: 600;
}

.stats-title {
  font-style: italic !important;
}

.search-btn {
  text-decoration: none;
  color: #9ab7d3;
  font-size: 1.5rem;
  font-weight: 600;
}

.search-btn:hover {
  color: #7f9ebb;
  transition: 0.3s ease-in-out;
}

.search-input {
  border: 0.1rem solid black;
}

.film-card {
  margin-top: 5rem;
  border: 0.1rem solid black;
  text-align: center;
  padding: 2rem;
  transition: 0.2s linear;
}

.film-item {
  border: 0.1rem solid black;
}

.green-score {
  color: #28a745;
  font-weight: 600;
}

.red-score {
  color: #dc3545;
  font-weight: 600;
}

.details-btn {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  color: white;
  font-weight: 600;
  border: 0.1rem solid black;
  background-color: #9ab7d3;
  text-decoration: none;
}

.details-btn:hover {
  color: white;
  background-color: #89a8c5;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
}

.active-link {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  color: white !important;
  font-weight: 600;
  border: 0.1rem solid black;
  background-color: #9ab7d3;
  text-decoration: none;
}

.active-link:hover {
  color: white !important;
}
.btn-area {
  margin-top: 3rem !important;
}

.back-btn {
  padding: 1rem 5rem;

  margin-top: 3rem !important;
  border-radius: 0.5rem;
  margin-right: 1rem;
  color: white !important;
  font-weight: 600;
  border: 0.1rem solid black;
  background-color: #9ab7d3;
  text-decoration: none;
}

.back-btn:hover {
  color: white;
  background-color: #89a8c5;
}
